# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
venv/
.eggs/

# Environment
.env

# Django
*.sqlite3
db.sqlite3
src/static/collected/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
